*{
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 30vh;
    display: flex;
    align-items: baseline;
}

.menu-header {
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: baseline;
}

.menu-header ul {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.menu-header li {
    list-style: none;
}

.menu-header a{
    color: #000000;
    padding: 9px;
    text-decoration: none;
}

.container{
    display: flex;
    margin-top: 180px;
    justify-content: space-between;
}

.box-one, .box-two, .box-three{
    background-color: #EBE6E5;
    border-radius: 10px;
    width: 280px;
    height: 280px;
}

h4{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

#bt-box-one{
    margin-left: 330px;
}

#bt-box-two{
    margin-left: 430px;
}

#bt-box-three{
    margin-left: 430px;
}

h3{
    font-weight: bold;
    text-align: center;
    font-size: 45px;
}
