<header>
    <nav class="menu-header">
        <ul>
            <li>
                <a href="#">
                    <i class='bx bx-notepad'></i>
                    <b>Anúncios</b>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message-square-add'></i>
                    <b>Criar Anuncio</b>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-dollar'></i>
                    <b>Planos</b>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-user-account'></i>
                    <b>Minha Conta</b>
                </a>
            </li>
        </ul>
    </nav>
</header>
